@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@450&display=swap');

h2{
    font-size: 36px;
}
h3{
    font-size: 27px;
}
h4{
    font-size: 20px;
    padding-left: 1rem;
}

.header {
    opacity: 0.95;
    color: white;
    margin: 0px;
    background-image: radial-gradient(red 0.5px, black 0.5px);
    background-blend-mode: multiply;
    background-size: calc(10 * 0.5px) calc(10 * 0.5px);
    text-align: center;
    font-family: 'Indie Flower', cursive;;
    font-size: xx-large;
    font-size: 500%;
    font-weight: bold;
}

#header-bg {
    background-image: radial-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

body {
    color: white;
    margin: 0px;
    height: 100vh;
    width: 100%;
    background-image: url("../assets/back.jpg"), linear-gradient(to right, rgb(175, 90, 90), rgb(155, 155, 155), rgb(56, 150, 80));
    background-blend-mode: color-burn;
    background-size: cover;
}

#header-text {
    background: -webkit-linear-gradient( rgb(68, 68, 231), cyan);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    caret-color: white;
}

.searchBox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform:  translate(-50%,50%);
    background-image: linear-gradient(to left, black, blueviolet);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : blueviolet;
}

.searchButton {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    outline: none;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: xx-large;    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
::placeholder {
    color: white;
    font-family: 'Caveat', cursive;
    font-size: xx-large;
}

.input-error{
    background: firebrick !important;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    display: inline-block !important;
    box-shadow: 20px 20px 20px goldenrod;
    margin-top: 10px;
    text-align: center;
    color: goldenrod;
}


@media only screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 100px;
        padding: 0 6px;
    }
}


#listitem {
    place-items: center;
    text-align: center;
    align-items: center;
}
.content {
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    font-family: 'Roboto Slab', serif;  
}
.content img {
    height: 500px;
    width: 400px;
    padding-top: 5px;
    color: white;
}

.wikilink, .wikilink:hover, .wikilink:focus, .wikilink:active {
    text-decoration: underline;
    color: inherit;
}

.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: justify;
}

.column:nth-child(1) {
    width: 30%;
    text-align: center;
}
.column:nth-child(2) {
    width: 70%;
}
 
img {
    max-width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}
   
@media screen and (max-width: 600px) {
    .column {
        width: 100% !important;
    }
}

#movie-info {
    font-size: 26px;
}

#darkbg-container {
    margin: 10px;
    background-color: rgba(34, 34, 34, 0.9);
    background-image: linear-gradient(25deg, transparent 65%, #000, transparent 70%), linear-gradient(-25deg, transparent 65%,black, transparent 70%), linear-gradient(-25deg, transparent 30%,black, transparent 35%), linear-gradient(25deg, transparent 30%,black, transparent 35%), linear-gradient(65deg, transparent 65%,black, transparent 70%), linear-gradient(-65deg, transparent 65%, black, transparent 70%), linear-gradient(-65deg, transparent 30%, black, transparent 35%), linear-gradient(65deg, transparent 30%, black, transparent 35%);
    background-size: 5em 2em, 5em 2em, 5em 2em, 5em 2em, 2em 5em, 2em 5em, 2em 5em, 2em 5em;
    color: white;
    font-size: 14px;
}

#imdb-link {
    color: goldenrod;
    text-decoration: none;
}

#google-link {
    color: khaki;
    cursor: pointer;
    text-decoration: none;
    font-size: 42px;
}

.content-search {
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
    display: inline-block;
    cursor: pointer;
}

.content-search .list-image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100%;
    width : 200px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content-search:hover > .list-image {
    opacity: 0.4;
    
}
  
.content-search:hover > .middle {
    opacity: 1;
}

.list-text {
    background-color: #222222;
    color: white;
    opacity: 0.94;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    padding: 16px 32px;
}

.searchButton:active{
    background-color: red !important;
    color: white !important;
    cursor: pointer !important;
}

#reddit {
    background-color: #CCC;
    background-image:
    linear-gradient(90deg, transparent 79px, red 79px, blueviolet 81px, transparent 81px),
    linear-gradient(rgba(31, 136, 136, 0.404) .1em, transparent .1em);
    background-size: 100% 1.0em;
}

#fa-reddit {
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-size: 250%;
    background-image: linear-gradient(to right, red, orangered);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.reddit-text {
    color: black;
    font: small-caps;
    font-size: xx-large;
    text-decoration: none;
}

.reddit-sub {
    text-decoration: none !important;
    color: blue;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
    
blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: orangered;
}
    
blockquote cite {
    color: #999999;
    font-size: 18px;
    display: block;
    margin-top: 5px;
    text-align: right;
}
     
blockquote cite:before {
    content: "~";
    color: blue;
    font: bolder;
}

#particles {
    color: darkkhaki;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

.loader {
    opacity: 0.52;
    border: 10px solid orangered;
    border-radius: 50%;
    border-top: 25px solid yellow;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
